{% extends "index.html" %}
{% load static %}

{% block title_page %}
  {{ request.resolver_match.app_name.capitalize }}
{% endblock %}

{% block css %}
{#  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'plugins/tui.calendar-1.12.13/dist/tui-calendar.css' %}" />#}
{#  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />#}
{#  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />#}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'plugins/dhx-calendar/codebase/dhtmlxscheduler_material.css' %}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href="https://adminlte.io/themes/dev/AdminLTE/plugins/select2/css/select2.min.css"/>
  <link href="https://adminlte.io/themes/dev/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"/>


  <style type="text/css" >
    {% comment %}html, body{
      margin:0px;
      padding:0px;
      height:100%;
      overflow:hidden;
    }{% endcomment %}
    .dhx_cal_larea{
      overflow:visible;
    }
    .dhx_cal_select2,
    .dhx_cal_select2 select{
      width: 400px;
    }
    #my_form {
      position: absolute;
      top: 100px;
      left: 200px;
      z-index: 10001;
      display: none;
      background-color: white;
      border: 2px outset gray;
      padding: 20px;
      font-family: Tahoma;
      font-size: 10pt;
    }

    #my_form label {
      width: 200px;
    }
    .add_event_button{
      position: absolute;
      width: 55px;
      height: 55px;
      background: #ff5722;
      border-radius: 50px;
      bottom: 40px;
      right: 55px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
      z-index: 5;
      cursor:pointer;
    }
    .add_event_button:after{
      background: #000;
      border-radius: 2px;
      color: #FFF;
      content: attr(data-tooltip);
      margin: 16px 0 0 -137px;
      opacity: 0;
      padding: 4px 9px;
      position: absolute;
      visibility: visible;
      font-family: "Roboto";
      font-size: 14px;
      visibility: hidden;
      transition: all .5s ease-in-out;
    }
    .add_event_button:hover{
      background: #ff774c;
    }
    .add_event_button:hover:after{
      opacity: 0.55;
      visibility: visible;
    }
    .add_event_button span:before{
      content:"";
      background: #fff;
      height: 16px;
      width: 2px;
      position: absolute;
      left: 26px;
      top: 20px;
    }
    .add_event_button span:after{
      content:"";
      height: 2px;
      width: 16px;
      background: #fff;
      position: absolute;
      left: 19px;
      top: 27px;
    }

    {% comment %}@media only screen and (max-width: 1000px){
      .add_event_button{
        bottom: 5vw;
        right: 5vw;
      }
    }{% endcomment %}

  </style>
{% endblock %}

{% block content %}

  <div class="row">

    <!-- /.col -->
    <div class="col-md-12">
      <div class="card card-default">
        <div class="card-header">
          <h2 class="card-title">
            <i class="fas fa-chart-line"></i>&nbsp;&nbsp;
            Escala
          </h2>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <!-- THE CALENDAR -->
{#          <div id="menu">#}
{#            <div class="btn-group">#}
{#              <button type="button" class="btn btn-info">Visualização</button>#}
{#              <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown">#}
{#                <span class="sr-only">Toggle Dropdown</span>#}
{#                <div class="dropdown-menu" role="menu">#}
{#                  <a class="dropdown-item" href="#" onclick="cal.changeView('month', true);">Mensal</a>#}
{#                  <a class="dropdown-item" href="#" onclick="cal.changeView('week', true);">Semanal</a>#}
{#                </div>#}
{#              </button>#}
{#            </div>#}
{#            <span id="menu-navi">#}
{#                          <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev" onclick="todayCalendar()">#}
{#                              Hoje#}
{#                          </button>#}
{#                          <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev" onclick="prevCalendar()">#}
{#                              <i class="fas fa-arrow-left" data-action="move-prev"></i>#}
{#                          </button>#}
{#                          <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next" onclick="nextCalendar(); ">#}
{#                              <i class="fas fa-arrow-right" data-action="move-next"></i>#}
{#                          </button>#}
{#                      </span>#}
{#            <span id="renderRange" class="render-range"></span>#}
{#          </div>#}
          {#          <div id="menu">#}
          {#            <span id="menu-navi">#}
          {#              <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>#}
          {#              <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">#}
          {#                <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>#}
          {#              </button>#}
          {#              <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">#}
          {#                <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>#}
          {#              </button>#}
          {#            </span>#}
          {#            <span id="renderRange" class="render-range"></span>#}
          {#          </div>#}

{#          <div id="calendar"></div>#}
          <div id="scheduler_here" style='width:100%; height:400px;'></div>
          <div id="my_form" class="dhx_cal_light dhx_cal_light_wide">
            <select id="teste" class="select2" multiple="multiple" data-placeholder="Select a State" data-dropdown-css-class="select2-primary">
              <option value="1">Alabama</option>
              <option value="2">Alaska</option>
              <option value="3">California</option>
              <option value="4">Delaware</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Washington</option>
            </select>
          </div>

{#          <div class="add_event_button" data-tooltip="Create new event"><span></span></div>#}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
    <div class="modal fade" id="modal-default" role="basic" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  <!-- /.modal -->
{% endblock %}

{% block js %}
  <script src="{% static 'plugins/dhx-calendar/codebase/dhtmlxscheduler.js' %}" charset="utf-8"></script>
{#  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_multiselect.js' %}"></script>#}
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_editors.js' %}"></script>
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_recurring.js' %}" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
  <script src="https://cdn.dhtmlx.com/scheduler/edge/ext/dhtmlxscheduler_minical.js"></script>
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_container_autoresize.js' %}"></script>
  <!-- Quick info extension -->
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_quick_info.js' %}" charset="utf-8"></script>
  <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
  <script src="{% static 'plugins/bootbox/bootbox.all.min.js' %}"></script>
  <script src="{% static 'plugins/bootbox/bootbox.locales.min.js' %}"></script>

  <script>
    window.addEventListener("DOMContentLoaded", function(){
      console.log('aiai')
      // different configs for different screen sizes
      var compactView = {
        xy: {
          nav_height: 80
        },
        config: {
          header: {
            rows: [
              {
                cols: [
                  "prev",
                  "date",
                  "next",
                ]
              },
              {
                cols: [
                  "day",
                  "week",
                  "month",
                  "spacer",
                  "today"
                ]
              }
            ]
          }
        },
        templates: {
          month_scale_date: scheduler.date.date_to_str("%D"),
          week_scale_date: scheduler.date.date_to_str("%D, %j"),
          event_bar_date: function(start,end,ev) {
            return "";
          }

        }
      };
      var fullView = {
        xy: {
          nav_height: 80
        },
        config: {
          header: [
            "day",
            "week",
            "month",
            "date",
            "prev",
            "today",
            "next"
          ]
        },
        templates: {
          month_scale_date: scheduler.date.date_to_str("%l"),
          week_scale_date: scheduler.date.date_to_str("%l, %F %j"),
          event_bar_date: function(start,end,ev) {
            return "• <b>"+scheduler.templates.event_date(start)+"</b> ";
          }
        }
      };

      function resetConfig(){
        var settings;
        if(window.innerWidth < 1000){
          settings = compactView;
        }else{
          settings = fullView;

        }
        scheduler.utils.mixin(scheduler.config, settings.config, true);
        scheduler.utils.mixin(scheduler.templates, settings.templates, true);
        scheduler.utils.mixin(scheduler.xy, settings.xy, true);
        return true;
      }

      scheduler.config.responsive_lightbox = true;
      resetConfig();
      scheduler.attachEvent("onBeforeViewChange", resetConfig);
      scheduler.attachEvent("onSchedulerResize", resetConfig);


      // demo data
      var alert_opts = [
        { key: 1, label: 'None' },
        { key: 2, label: 'On start date' },
        { key: 3, label: '1 day before' }
      ];

      var users = [
        { key: 1, label: 'George' },
        { key: 2, label: 'Nataly' },
        { key: 3, label: 'Diana' },
        { key: 4, label: 'George' },
        { key: 5, label: 'Nataly' },
        { key: 6, label: 'Diana' },
        { key: 7, label: 'George' },
        { key: 8, label: 'Nataly' },
        { key: 9, label: 'Diana' },
        { key: 10, label: 'George' },
        { key: 11, label: 'Nataly' },
        { key: 12, label: 'Diana' },
        { key: 13, label: 'George' },
        { key: 14, label: 'Nataly' },
        { key: 15, label: 'Diana' }
      ];

      scheduler.form_blocks['selectmultiple'] = {
        render: function (config) {
          var height=(config.height||50)+"px";

          return `<div class='dhx_cal_ltext select2-primary'>` + $('#teste').css({"height": height, "width": "100%"}).select2()[0].outerHTML + "</div>"
        },
        set_value:function(node,value,ev,config){
          // node - HTML object related to HTML defined above
          // value - value defined by map_to property
          // ev - event object
          // config - section configuration object

          $(node).val($('#teste').val() || "")
        },
        get_value:function(node,ev,config){
          // node - HTML object related to HTML defined above
          // event object
          // config - section configuration object

          ev.membros = $('#teste option:selected').toArray().map(item => item.text) || "";
          return $('#teste').val().toString() || "";
        },
        focus:function(node){
          // node - HTML object related to HTML defined above
          $(node).focus();
        }
      }

      scheduler.config.xml_date = "%Y-%m-%d %h:%i";

      var opts = scheduler.serverList("options", [
        {key:1, label: "John"},
        {key:2, label: "Mike"},
        {key:3, label: "Anna"}
      ]);

      scheduler.locale.labels.section_owner = "Membros";
      scheduler.locale.labels.section_text = 'Descrição';
      scheduler.locale.labels.section_time = 'Período';
      scheduler.locale.labels.section_select = 'Alert';
      scheduler.locale.labels.section_template = 'Details';
      {#scheduler.locale.labels.section_userselect = "Participants";#}
      scheduler.locale.labels.section_fruitselect = "Fruits";
      scheduler.locale.labels.section_checkme = "Check me";
      scheduler.locale.labels.section_priority = 'Priority';
      scheduler.locale.labels.section_details = "Details";
      scheduler.config.lightbox.sections=[
        {name: "owner", height: 32, map_to: "owner", type: "selectmultiple", options: opts, focus:true},
        { name:"text", height:35, map_to:"text", type:"textarea", lines: 3 },
        {#{ name:"select", height:35, map_to:"type", type:"select", options:alert_opts},#}
        {#{ name:"recurring", height:115, type:"recurring", map_to:"rec_type", button:"recurring"},#}
        { name:"time", height:40, type:"time", map_to:"auto" },
      ];

      scheduler.load("{% url 'escala:get_all_schedules' %}");

      scheduler.config.details_on_dblclick = true;
      scheduler.config.details_on_create = true;
      scheduler.config.wide_form = true;
      scheduler.templates.quick_info_content = function(start, end, ev){
        return `
          <div>
          <h3>${ev.text}</h3>
          <h5>${ev.membros || ""}</h5>
          </div>
        `;
      };
      scheduler.init('scheduler_here',new Date(),"week");

      scheduler.attachEvent('onLightbox', function () {
        // inicializa os inputs aqui
        $('#teste').select2()
      })
      scheduler.attachEvent('onEventSave', function (id, ev) {
        // todo: chamar endpoint de criar escala aqui
        console.log(ev)
        return true
      })
    });
  </script>
{% endblock %}
