{% extends "index.html" %}
{% load static %}
{% load tz %}

{% block title_page %}
  {{ request.resolver_match.app_name.capitalize }}
  {{ timezone }}
{% endblock %}

{% block css %}
{#  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'plugins/tui.calendar-1.12.13/dist/tui-calendar.css' %}" />#}
{#  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />#}
{#  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />#}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'plugins/dhx-calendar/codebase/dhtmlxscheduler_material.css' %}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}" />
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href="https://adminlte.io/themes/dev/AdminLTE/plugins/select2/css/select2.min.css"/>
  <link href="https://adminlte.io/themes/dev/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"/>
  <link href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}" />
{#  <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" />#}


  <style type="text/css" >
    {% comment %}html, body{
      margin:0px;
      padding:0px;
      height:100%;
      overflow:hidden;
    }{% endcomment %}
    .dhx_cal_larea{
      overflow:visible;
    }
    .dhx_cal_select2,
    .dhx_cal_select2 select{
      width: 400px;
    }
    .dhx_body {
      height: 100%;
      width: 100%;
    }
    #my_form {
      position: absolute;
      top: 100px;
      left: 200px;
      z-index: 10001;
      display: none;
      background-color: white;
      border: 2px outset gray;
      padding: 20px;
      font-family: Tahoma;
      font-size: 10pt;
    }

    #my_form label {
      width: 200px;
    }
    .add_event_button{
      position: absolute;
      width: 55px;
      height: 55px;
      background: #ff5722;
      border-radius: 50px;
      bottom: 40px;
      right: 55px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
      z-index: 5;
      cursor:pointer;
    }
    .add_event_button:after{
      background: #000;
      border-radius: 2px;
      color: #FFF;
      content: attr(data-tooltip);
      margin: 16px 0 0 -137px;
      opacity: 0;
      padding: 4px 9px;
      position: absolute;
      visibility: visible;
      font-family: "Roboto";
      font-size: 14px;
      visibility: hidden;
      transition: all .5s ease-in-out;
    }
    .add_event_button:hover{
      background: #ff774c;
    }
    .add_event_button:hover:after{
      opacity: 0.55;
      visibility: visible;
    }
    .add_event_button span:before{
      content:"";
      background: #fff;
      height: 16px;
      width: 2px;
      position: absolute;
      left: 26px;
      top: 20px;
    }
    .add_event_button span:after{
      content:"";
      height: 2px;
      width: 16px;
      background: #fff;
      position: absolute;
      left: 19px;
      top: 27px;
    }

  </style>
{% endblock %}

{% block content %}

  <div class="row">

    <!-- /.col -->
    <div class="col-md-12">
      <div class="card card-default">
        <div class="card-header">
          <h2 class="card-title">
            <i class="fas fa-chart-line"></i>&nbsp;&nbsp;
            Escala
          </h2>
          <div class="card-tools">
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-share"></i>  Exportar
              </button>
              <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(-21px, -85px, 0px); top: 0px; left: 0px; will-change: transform;">
                <li><a class="dropdown-item" href="#" onclick="exportToExcel()"><i class="fas fa-file-excel"></i> Excel</a></li>
                <li><a class="dropdown-item" href="#" onclick="exportToPDF()"><i class="fas fa-file-pdf"></i> PDF</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <!-- THE CALENDAR -->
          <div id="scheduler_here" style='width:100%; height:400px;'></div>
          <div id="my_form" class="dhx_cal_light dhx_cal_light_wide">
            {{ form.membro }}
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
    <div class="modal fade" id="modal-default" role="basic" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">

          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  <!-- /.modal -->
{% endblock %}

{% block js %}
  <script src="{% static 'plugins/dhx-calendar/codebase/dhtmlxscheduler.js' %}" charset="utf-8"></script>
{#  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_multiselect.js' %}"></script>#}
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_editors.js' %}"></script>
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_recurring.js' %}" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
  <script src="https://cdn.dhtmlx.com/scheduler/edge/ext/dhtmlxscheduler_minical.js"></script>
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_container_autoresize.js' %}"></script>
  <!-- Quick info extension -->
  <script src="{% static 'plugins/dhx-calendar/codebase/ext/dhtmlxscheduler_quick_info.js' %}" charset="utf-8"></script>
  <script src="https://export.dhtmlx.com/scheduler/api.js"></script>
  <script src="{% static 'plugins/dhx-calendar/codebase/locale/locale_pt.js' %}"></script>
  <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
  <script src="{% static 'plugins/bootbox/bootbox.all.min.js' %}"></script>
  <script src="{% static 'plugins/bootbox/bootbox.locales.min.js' %}"></script>
  <script src="{% static 'plugins/sweetalert2/sweetalert2.all.js' %}"></script>

  <script>
    var action = null;

    window.addEventListener("DOMContentLoaded", function(){
      // different configs for different screen sizes
      var compactView = {
        xy: {
          nav_height: 80
        },
        config: {
          header: {
            rows: [
              {
                cols: [
                  "prev",
                  "date",
                  "next",
                ]
              },
              {
                cols: [
                  "day",
                  "week",
                  "month",
                  "spacer",
                  "today"
                ]
              }
            ]
          }
        },
        templates: {
          month_scale_date: scheduler.date.date_to_str("%D"),
          week_scale_date: scheduler.date.date_to_str("%D, %j"),
          event_bar_date: function(start,end,ev) {
            return "";
          }

        }
      };
      var fullView = {
        xy: {
          nav_height: 80
        },
        config: {
          header: [
            "day",
            "week",
            "month",
            "date",
            "prev",
            "today",
            "next"
          ]
        },
        templates: {
          month_scale_date: scheduler.date.date_to_str("%l"),
          week_scale_date: scheduler.date.date_to_str("%l, %F %j"),
          event_bar_date: function(start,end,ev) {
            return "• <b>"+scheduler.templates.event_date(start)+"</b> ";
          }
        }
      };

      function resetConfig(){
        var settings;
        if(window.innerWidth < 1000){
          settings = compactView;
        }else{
          settings = fullView;

        }
        scheduler.utils.mixin(scheduler.config, settings.config, true);
        scheduler.utils.mixin(scheduler.templates, settings.templates, true);
        scheduler.utils.mixin(scheduler.xy, settings.xy, true);
        return true;
      }

      scheduler.config.responsive_lightbox = true;
      resetConfig();
      scheduler.attachEvent("onBeforeViewChange", resetConfig);
      scheduler.attachEvent("onSchedulerResize", resetConfig);

      scheduler.form_blocks['selectmultiple'] = {
        render: function (config) {
          var height=(config.height||50)+"px";

          return `<div class='dhx_cal_ltext select2-primary'>` + $('#id_membro').css({"height": height, "width": "100%"}).select2()[0].outerHTML + "</div>"
        },
        set_value:function(node,value,ev,config){
          // node - HTML object related to HTML defined above
          // value - value defined by map_to property
          // ev - event object
          // config - section configuration object
          if (typeof ev.owner === typeof []) {
            console.log(ev)
            {#$(node).find('#id_membro').val(ev.owner.split(','))#}
            $(node).find('#id_membro').val(ev.owner)
          } else {
            $(node).find('#id_membro').val([])
          }
        },
        get_value:function(node,ev,config){
          // node - HTML object related to HTML defined above
          // event object
          // config - section configuration object
          ev.membros = $('#id_membro option:selected').toArray().map(item => item.text) || "";
          return $(node).find('#id_membro').val();
        },
        focus:function(node){
          // node - HTML object related to HTML defined above
          $(node).focus();
        }
      }

      scheduler.config.xml_date = "%Y-%m-%d %h:%i";

      scheduler.locale.labels.section_text = 'Descrição';
      scheduler.locale.labels.section_owner = "Membros";
      scheduler.locale.labels.section_time = 'Período';
      scheduler.locale.labels.section_obs = 'OBS';

      scheduler.config.lightbox.sections=[
        { name: "text", height: 35, map_to: "text", type: "textarea", lines: 3, focus:true },
        { name: "owner", height: 32, map_to: "owner", type: "selectmultiple", required: true},
        { name: "time", height: 40, type: "time", map_to: "auto" },
        { name: "obs", height: 70, map_to: "obs", type: "textarea", lines: 3 },

      ];

      scheduler.load("{% url 'escala:get_all_schedules' %}");


      scheduler.config.details_on_dblclick = true;
      scheduler.config.details_on_create = true;
      scheduler.config.wide_form = true;
      scheduler.config.start_on_monday = false;

      // ------- QUICK INFO CONTENTS --------
      scheduler.templates.quick_info_content = function(start, end, ev){
        return `
          <div>
          <h3>${ev.text}</h3>
          <h5>${ev.membros.join(', ') || ""}</h5>
          </div>
        `;
      };

      // ------- EVENT TEXT --------
      {% comment %}scheduler.templates.event_text = function(start,end,ev){
        return `<span style="font-size: 10px;">${ev.membros}</span>`;
      };{% endcomment %}

      scheduler.renderEvent = function(container, ev) {
        // your customizing code
        var container_width = container.style.width; // e.g. "105px"
        // move section
        var html = "<div class='dhx_event_move my_event_move' style='width: " +
                container_width + "'></div>";

        // container for event's content
        html+= "<div class='dhx_body'>";
        html += "<span class='event_date'>";
        //two options here:show only start date for short events or start+end for long
        if ((ev.end_date - ev.start_date)/60000>40){//if event is longer than 40 minutes
          html += scheduler.templates.event_header(ev.start_date, ev.end_date, ev);
          html += "</span><br/>";
        } else {
          html += scheduler.templates.event_date(ev.start_date) + "</span>";
        }
        // displaying event's text
        for (let member of ev.membros) {
          html += "<span>" + member + "</span><br>"
        }

        html += "</div>";

        // resize section
        html += "<div class='dhx_event_resize my_event_resize' style='width: " +
                container_width + "'></div>";

        container.innerHTML = html;
        return true; //required, true - to display a custom form, false - the default form
      }

      scheduler.init('scheduler_here',new Date(),"week");

      // ------- HANDLE EVENTS --------
      scheduler.attachEvent('onLightbox', function () {
        // inicializa os inputs aqui
        $('#id_membro').select2()
      })

      // ------------ CREATE SCHEDULE ------------
      scheduler.attachEvent('onEventAdded', function (id, ev) {
        var result = true;
        $.ajax({
          url: '{% url 'schedule:api_create' %}',
          data: {
            start_date: ev.start_date.toLocaleString('pt-BR', {timeZone: 'America/Fortaleza'}),
            end_date: ev.end_date.toLocaleString('pt-BR', {timeZone: 'America/Fortaleza'}),
            owner: JSON.stringify(ev.owner),
            text: ev.text,
            obs: ev.obs
          },
          method: 'POST',
          async: false,
          success: function (data) {
            scheduler.changeEventId(id, data.id);
            Toast.fire({
              icon: 'success',
              title: 'Escala criada com sucesso!'
            })
            result = true;
          },
          error: function (data) {
            Toast.fire({
              icon: 'error',
              title: 'Falha ao criar escala!'
            })
            result = false;
          }
        })
        if (!result) {
          scheduler.hideLightbox();
          return false
        }
        return true
      })

      // ------------ UPDATE SCHEDULE ------------
      scheduler.attachEvent('onEventChanged', function (id, ev) {
        var result = null;
        $.ajax({
          url: `/schedule/api/update/${id}`,
          data: {
            start_date: ev.start_date.toLocaleString('pt-BR', {timeZone: 'America/Fortaleza'}),
            end_date: ev.end_date.toLocaleString('pt-BR', {timeZone: 'America/Fortaleza'}),
            owner: JSON.stringify(ev.owner),
            text: ev.text,
            obs: ev.obs
          },
          method: 'POST',
          async: false,
          success: function (data) {
            scheduler.changeEventId(id, data.id);
            Toast.fire({
              icon: 'success',
              title: 'Escala alterada com sucesso!'
            })
            result = true;
          },
          error: function (data) {
            Toast.fire({
              icon: 'error',
              title: 'Falha ao alterar escala!'
            })
            result = false;
          }
        })
        if (!result) {
          scheduler.hideLightbox();
          return false
        }
        return true
      })

      // ------------ DELETE SCHEDULE ------------
      scheduler.attachEvent('onConfirmedBeforeEventDelete', function (id, ev) {
        var result = true;
        $.ajax({
          url: `/schedule/api/delete/${id}`,
          data: {
            start_date: ev.start_date.toLocaleString('pt-BR', {timeZone: 'America/Fortaleza'}),
            end_date: ev.end_date.toLocaleString('pt-BR', {timeZone: 'America/Fortaleza'}),
            owner: JSON.stringify(ev.owner),
            text: ev.text,
            obs: ev.obs
          },
          method: 'POST',
          async: false,
          success: function (data) {
            {#scheduler.changeEventId(id, data.id);#}
            Toast.fire({
              icon: 'success',
              title: 'Escala deletada com sucesso!'
            })
            result = true;
          },
          error: function (data) {
            {#scheduler.deleteEvent(id)#}
            Toast.fire({
              icon: 'error',
              title: 'Falha ao deletar escala!'
            })
            result = false;
          }
        })

        return true
      })

      // ------------ VALIDATION SCHEDULE ------------
      scheduler.attachEvent('onEventSave', function (id, ev) {
        if (!ev.owner) {
          Toast.fire({
            icon: 'info',
            title: 'Informe os membros!'
          })
          return false;
        }
        return true;
      })

    });

    function exportToExcel() {
      let start = scheduler.getState().min_date;
      let end = scheduler.getState().max_date;
      scheduler.templates.xml_format = scheduler.date.date_to_str("%d/%m/%Y %H:%i");
      scheduler.exportToExcel({
        name: `Escala.xlsx`,
        columns:[
          { id:"start_date",  header:"Escala", width:20 },
          { id:"membros",  header:"Membros", width:30 },
          {#{ id:"end_date",  header:"End date", width:20 }#}
        ],
        start: start,
        end: end
      });
    }

    function exportToPDF() {
      scheduler.exportToPDF({
        format: "A4",
        name: "Escala.pdf",
        zoom: 1,
        orientation: "portrait",
        header: 'Escala'
      });
    }
  </script>
{% endblock %}
