<div class="modal-header">
  <h4 class="modal-title">Alterar Senha</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="form_set_password" action="{% url 'cliente:set_password' pk=pk %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Senha</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            {{ form.password1 }}
          </div>
          {% if form.password1.errors %}
              {% for error in form.password1.errors %}
                <span class="error text-danger">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Confirme a Senha</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            {{ form.password2 }}
          </div>
          {% if form.password2.errors %}
              {% for error in form.password2.errors %}
                <span class="error text-danger">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
  <button type="submit" form="form_set_password" class="btn btn-primary" onclick="!this.form && document.getElementById('form_set_password').submit()">Salvar</button>
</div>
