<div class="modal-header">
  <h4 class="modal-title">Editar Cliente</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form id="form_update" action="{% url 'cliente:update' pk=pk %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Nome</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
            </div>
            {{ form.first_name }}
            {% if form.first_name.errors %}
              {% for error in form.first_name.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Sobrenome</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
            </div>
            {{ form.last_name }}
            {% if form.last_name.errors %}
              {% for error in form.last_name.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Login</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
            </div>
            {{ form.login }}
            {% if form.login.errors %}
              {% for error in form.login.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            {{ form.email }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">CPF</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-id-card"></i></span>
            </div>
            {{ form.cpf_cnpj }}
            {% if form.cpf_cnpj.errors %}
              {% for error in form.cpf_cnpj.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Data de Nascimento</label>
          <div class="input-group date" data-provide="datepicker">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            {{ form.data_nascimento }}
            {% if form.data_nascimento.errors %}
              {% for error in form.data_nascimento.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleInputEmail1">Telefone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
            </div>
            {{ form.telefone }}
            {% if form.telefone.errors %}
              {% for error in form.telefone.errors %}
                <span class="error invalid-feedback">{{ error|escape }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">CEP</label>
          {{ form.cep }}
          {% if form.cep.errors %}
            {% for error in form.cep.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço</label>
          {{ form.logradouro }}
          {% if form.logradouro.errors %}
            {% for error in form.logradouro.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="exampleInputEmail1">Número</label>
          {{ form.numero }}
          {% if form.numero.errors %}
            {% for error in form.numero.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Complemento</label>
          {{ form.complemento }}
          {% if form.complemento.errors %}
            {% for error in form.complemento.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Bairro</label>
          {{ form.bairro }}
          {% if form.bairro.errors %}
            {% for error in form.bairro.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Cidade</label>
          {{ form.cidade }}
          {% if form.cidade.errors %}
            {% for error in form.cidade.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleInputEmail1">UF</label>
          {{ form.uf }}
          {% if form.uf.errors %}
            {% for error in form.uf.errors %}
              <span class="error invalid-feedback">{{ error|escape }}</span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
  <button type="submit" form="form_update" class="btn btn-primary" onclick="!this.form && document.getElementById('form_update').submit()"><i class="fas fa-check"></i> Salvar</button>
</div>
